@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica_Bold";
  src: url("/src/assets/fonts/Helvetica-Bold.woff");
}
@font-face {
  font-family: "Helvetica_Light";
  src: url("/src/assets/fonts/HelveticaLTStd-Light.otf");
}
@font-face {
  font-family: "Helvetica";
  src: url("/src/assets/fonts/Helvetica.woff");
}

.fontHelveticaBold {
  font-family: "Helvetica_Bold", serif;
}
.fontHelveticaLight {
  font-family: "Helvetica_Light", serif;
}
.fontHelveticaNormal {
  font-family: "Helvetica", sans-serif;
}

@media (max-width: 1330px) and (min-width: 900px) {
  html {
    transform: scale(0.75);
    transform-origin: top left;
    width: 133.33%; /* 1 / 0.75 = 133.33% */
    height: 100%;
  }
  body {
    overflow-x: hidden;
    height: calc(100vh / 0.75);
  }
}
